<form class="col-md-8" style="margin-bottom:15px; margin-top:15px;">
    <input class="form-control" id="search" ng-model="search" ng-model-options="{ debounce: 800 }" placeholder="Search Movie Database">
</form>

<div ng-repeat="tv in tvshows | limitTo: 10">
    <div ui-sref="tvdetail({id: tv.id})" class="col-md-4" style="cursor:pointer; margin-bottom: 15px; margin-right: 5px; max-height: 711px; min-height:711px">
        <img class="poster" ng-src="http://image.tmdb.org/t/p/w370{{tv.poster_path}}"  onerror="src = '../imgs/no-image-found.jpg'"/>
        <h1 class="details" style="font-size: 1.5vmax; font-weight:bold;">{{tv.name}}</h1>
        <p class="details">{{tv.overview | limitTo : 100}}<span ng-if="tv.overview.length > 100">...</span></p>
        <br />
    </div>    
</div>