<form class="col-md-8" style="margin-bottom:15px; margin-top:15px;">
    <input ui-sref="movies({search: search})" class="form-control" id="search" ng-model="search" ng-model-options="{ debounce: 800 }" placeholder="Search Movie Database">
</form>

<div ng-repeat="movie in movies | limitTo: 10">
    <div ui-sref="detail({id: movie.id})" class="col-md-4" style="cursor:pointer; margin-bottom: 15px; margin-right: 5px;">
            <img ng-src="http://image.tmdb.org/t/p/w370/{{movie.poster_path}}" style="border-radius: 10px; max-height:650px; width:100%; box-shadow: 0px 3px 7px 3px #333;" />
        <h1 style="font-size: 1.5vmax; font-family: 'Roboto Condensed', sans-serif; font-weight:bold; color:#3b3a36;">{{movie.title}}</h1>
        <p style="font-size:1vmax; font-family: 'Roboto Condensed', sans-serif;">{{movie.overview | limitTo : 120}}<span ng-if="movie.overview.length > 120">...</span></p>
    </div>
</div>